/* .container {
    background-color: chartreuse;
    height: 50px;
}
.container-fluid {
    background-color: blue;
    height: 50px;
} */

/* div.container {
    border: 2px solid blue;
}
.row {
    border: 2px solid red;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col12 {
    border: 1px solid black;
    background-color: lightblue;
} */

/* .box-1 {
    width: 200px;
    height: 200px;
    background-color: lightpink;
} */

/* padding margin;;;;;;;; */

/* div {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
}

span {
    background-color: hotpink;
    font-size: 30px;
} */
/* .container {
    height: 500px;
} */

/* positions''''' */

.div1 {
    width: 100px;
    height: 100px;
    background-color: red;
    left: 100px;
    top: 200px;
}
.div2 {
    width: 75px;
    height: 75px;
    background-color: blue;
    right: 0px;
}
.div3 {
    width: 50px;
    height: 50px;
    background-color: green;
}