* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
header {
    background-color: #541554;
}
header div.container-fluid {
    display: flex;
    justify-content: space-between;
}
header div.left {
    display: flex;
}
header div.left .image_container {
    width: 30px;
}
header div.left .image_container img {
    width: 100%;
}
header div.left nav {}
header div.left nav .container-fluid {}
header div.left nav .container-fluid a {
    color: #fff;
}
header div.left nav ul {}
header div.left nav ul li {}
header div.left nav ul li a {
}
/* left end''' */
div.right {}
div.right a {}
div.right button {}

/* header end''''' */

section#main {
    background-color: #541554;

}
section#main .left {}
section#main .left .top {}
section#main .left .top h1 {
    font-size: 60px;
}
section#main .top span {
    font-size: 60px;
}
section#main .left .bottom button span {
    background-color: #fff;
    margin-right: 5px;
}
section#main .left .bottom button span img{
    width: 15px;
}
section#main .left .bottom p {
    margin-top: 10px;
    color: #fff;
    font-weight: 500;
}
/* main end''''' */


section#companies {
    background: #f4ede4;
    padding: 37px;
}
section#companies .up p {
    text-align: center;
    
}
section#companies .up ul {
    margin: 0px 90px;
    display: flex;
    align-items: center;

}
section#companies .up ul li {
    align-items: center;
}
section#companies .down {
    padding-top: 70px;
}
section#companies .down .item {
    align-items: center;
    margin-top: 70px;
}
section#companies .down .item .right h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

section#companies .down .item .right p {
    font-size: 18px;
    font-weight: 500;
}
section#companies .down .item .left h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
section#companies .down .item .left p {
    font-size: 18px;
    font-weight: 500;
}
/* sec company end''' */

section#percentage {}
section#percentage .top {
    text-align: center;
    margin-top: 110px;
}
section#percentage .top  h3 {
    font-size: 50px;
    font-weight: 600;
}
section#percentage .top p {
    font-size: 18px;
    font-weight: 500;
}
section#percentage .top button.one {
    background-color: #541554;
    margin-right: 10px;
    padding: 10px 30px;
    
}
section#percentage .top button.two {
    border: 1px solid #000;
    padding: 10px 30px ;
}
section#percentage .down {
    margin-top: 90px;
    text-align: center;
}
section#percentage .down .item span {
    font-size: 65px;
    font-weight: 600;
    color:  #541554;
}
section#percentage .down .item p {
    font-size: 14px;
}
section#percentage .bottom {
    margin-top: 60px;
    align-items: center;
}
section#percentage .bottom p.two {
    text-align: center;
    font-size: 12px;
}
section#percentage .bottom .right p.one {
    font-size: 25px;
    font-weight: 400;
}
section#percentage .bottom .right span.one {
    display: block;
    font-weight: 600;
}
section#percentage .bottom .right span.two {
    display: block;
    margin-bottom: 40px;
}



















